<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4 data-translate="company">company</h4>
                <ul>
                    <li><a href="#" data-translate="aboutUs">about us</a></li>
                    <li><a href="#" data-translate="ourServices">our services</a></li>
                    <li><a href="#" data-translate="privacyPolicy">privacy policy</a></li>
                    <li><a href="#" data-translate="affiliateProgram">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 data-translate="getHelp">get help</h4>
                <ul>
                    <li><a href="#" data-translate="FAQ">FAQ</a></li>
                    <li><a href="#" data-translate="newsInsights">news & Insights</a></li>
                    <li><a href="#" data-translate="paymentOptions">payment options</a></li>
                    <li><a href="#" data-translate="contactUs">contact us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 data-translate="actions">actions</h4>
                <ul>
                    <li><a href="#" data-translate="buy">buy</a></li>
                    <li><a href="#" data-translate="sell">sell</a></li>
                    <li><a href="#" data-translate="rent">rent</a></li>
                    <li><a href="#" data-translate="mortgage">mortgage</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 data-translate="followUs">follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer>
    <div class="footer-container footer-container-expand-lg">
        <div class="footer-buttons">
            <a class="btn enquiry-btn" href="feedback.ejs" data-translate="feedback">Feedback <i class="fa-solid fa-pen-to-square"></i></a>
            <div class="vl"></div>
            <a class="btn call-btn" data-translate="call">CALL <i class="fas fa-phone"></i></a>
            <div class="vl"></div>
            <a class="btn whatsapp-btn" href="ScheduleMeeting.ejs" data-translate="scheduleMeeting">Schedule Meeting <i class="fa-solid fa-calendar-days"></i></a>
            <div class="vl"></div>
            <a class="btn three-d" href="map.ejs" data-translate="map">MAP <i class="fas fa-map-marker-alt"></i></a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>