<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutUsStyle.css">
    <title>About Us</title>
</head>
<body>
    <%- include('partials/header', { title: title }) %>
    <div class="heading">
    <h1>About US</h1>
    <p>No matter what stage of the home journey you may be in, we’re here to empower you by making all things home simple, efficient, and enjoyable.</p>
</div>
<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="/images/img/choosereal.png">
        </div>
        <div class="about-content">
            <h2>Reach a serious and engaged audience</h2>
            <p>For years, millions of home shoppers have turned to real state.com® to find their dream home. Operated by Move, Inc., real estate.com® offers a comprehensive list of for-sale properties, as well as the information and tools to make informed real estate decisions. Today, more than ever, real estate.com® is The Home of Home Search.</p>
        </div>
    </section>
</div>
<%- include('partials/footer', { title: title }) %>
</body>
</html>