<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Real Estate Site</title>
  <link rel="stylesheet" href="./css/stylecom.css">
</head>
<body>
  <div class="login-container">
    <h1 class="hdngform">Login</h1>
    <form class="logsignform" id="login-form">
      <label class="labelform" for="email">Email:</label>
      <input class="inputemform1" type="email" id="email" name="email" required>

      <label class="labelform" for="password">Password:</label>
      <input class="inputemform1" type="password" id="password" name="password" required>
      <div id="password-error" class="error-message"></div>

      <button class="buttonform" type="submit">Login</button>
    </form>
    <p class="pform">Don't have an account? <a href="./Signup1.ejs">Sign up</a></p>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="/js/Javaa.js"></script>
</body>
</html>
