<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/payment.css">
</head>
<body>
    <div class="container">
        <form action="/addOrder" method="post"> <!-- Updated form action -->
            <div class="inner-containers">
                <div class="cols">
                    <h2>Address</h2>
                    <div class="div-alert">
                        <label for="name">Name</label>
                        <label class="paysalert" id="name-alert"></label>
                    </div>
                    <input type="text" id="name" name="name" placeholder="Amr Wael">

                    <div class="div-alert">
                        <label for="email">Email</label>
                        <label class="paysalert" id="email-alert"></label>
                    </div>
                    <input type="text" id="email" name="email" placeholder="Amr@gmail.com">

                    <div class="div-alert">
                        <label for="address">Address</label>
                        <label class="paysalert" id="address-alert"></label>
                    </div>
                    <input type="text" id="address" name="address" placeholder="5 abbas el-akad street">

                    <div class="div-alert">
                        <label for="telephone">Telephone</label>
                        <label class="paysalert" id="telephone-alert"></label>
                    </div>
                    <input type="text" id="telephone" name="telephone" placeholder="01014584768">

                    <div class="div-alert">
                        <label for="city">City</label>
                        <label class="paysalert" id="city-alert"></label>
                    </div>
                    <input type="text" id="city" name="city" placeholder="Cairo">
                </div>
                <div class="cols">
                    <h2>Price</h2>
                    <div class="some-class" style="display: grid; margin-left:20px;">
                        <div class="div-alert">
                            <input style="vertical-align: middle;" type="radio" name="priceOption" id="price-1" value="option1" checked>
                            <label class="pay-price" for="price-1">Under payment:<span style="margin-right:10px;" id="price1">500$</span>Monthly Payment:<span style="margin-right:10px;" id="price11">500$</span>for 3 months</label>
                        </div>
                        <div class="div-alert">
                            <input style="vertical-align: middle;" type="radio" name="priceOption" id="price-2" value="option2">
                            <label class="pay-price" for="price-2">Under payment:<span style="margin-right:10px;" id="price2">500$</span>Monthly Payment:<span style="margin-right:10px;" id="price22">500$</span>for 8 months</label>
                        </div>
                        <div class="div-alert">
                            <input style="vertical-align: middle;" type="radio" name="priceOption" id="price-3" value="option3">
                            <label class="pay-price" for="price-3">Under payment:<span style="margin-right:10px;" id="price3">500$</span>Monthly Payment:<span style="margin-right:10px;" id="price33">500$</span>for 12 months</label>
                        </div>
                    </div>
                    <label>Accepted Cards</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    </div>

                    <div class="div-alert">
                        <label for="cardName">Name on Card</label>
                        <label class="paysalert" id="cardName-alert"></label>
                    </div>
                    <input type="text" id="cardName" name="cardName" placeholder="Amr Wael">

                    <div class="div-alert">
                        <label for="cardNumber">Credit card number</label>
                        <label class="paysalert" id="cardNumber-alert"></label>
                    </div>
                    <input type="text" id="cardNumber" name="cardNumber" placeholder="1111-2222-3333-4444">

                    <div class="div-alert">
                        <label for="expMonth">Exp Month</label>
                        <label class="paysalert" id="expMonth-alert"></label>
                    </div>
                    <input type="text" id="expMonth" name="expMonth" placeholder="September">

                    <div class="inner-containers">
                        <div class="cols">
                            <div class="div-alert">
                                <label for="expYear">Exp. Year</label>
                                <label class="paysalert" id="expYear-alert"></label>
                            </div>
                            <input type="text" id="expYear" name="expYear" placeholder="2028">
                        </div>
                        <div class="cols">
                            <div class="div-alert">
                                <label for="cvv">CVV</label>
                                <label class="paysalert" id="cvv-alert"></label>
                            </div>
                            <input type="text" id="cvv" name="cvv" placeholder="352">
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="checkout" class="btn">
        </form>
    </div>
    <script src="/js/payment.js"></script>
</body>
</html>