<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Privacy Policy</title>
        <link rel="stylesheet" href="./css/privacyStyle.css">

<body>
    <header>
    <div id="banner">
        <div class="content">
            <div class="container">
                <div><a href="index.html" class="logo-container">
                    <img class = "img2" src="./images/download.png" width="24" height="24" alt="Logo"><!--add logo image-->
                    <div class="logo-text">Real Estate Privacy-Policy</div>
                </a>
            </div>
        </div>
    </div>
</div>
</header>

<div class="container">
    <h1>Privacy Policy</h1>
    <p>Effective date: May 20, 2024</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, repellendus! Deleniti dolorum, esse saepe ratione doloremque aliquam dolor aspernatur itaque accusantium deserunt? Ratione, deserunt. Nostrum exercitationem fugiat, nulla reiciendis nemo natus, laudantium nesciunt facilis fugit nisi sapiente necessitatibus ratione hic neque expedita quo adipisci excepturi odio quidem sequi possimus. Culpa et veritatis ipsa vel, voluptatem dolor. Voluptas rerum accusantium vero eum repellendus, pariatur molestias quis hic quisquam ullam tempore ipsam at in atque. Magni, temporibus? Voluptates voluptate sapiente id reiciendis dignissimos adipisci sint velit nihil atque ratione tenetur possimus facere expedita temporibus, ducimus necessitatibus omnis quae eos quia et fugit facilis nulla? Deserunt, modi deleniti mollitia fugiat quaerat ratione repudiandae vel blanditiis vero libero laudantium, perferendis explicabo optio aut, exercitationem quam atque officia consectetur animi ipsam eveniet unde itaque maiores laboriosam. Vitae, consequatur eligendi! Ipsum aliquid numquam necessitatibus facere, nihil placeat velit, sapiente vitae odio modi dicta praesentium voluptates quidem ratione ab in, nisi optio possimus quo non quaerat earum aspernatur maxime? Cum dolorum, cupiditate minima sapiente soluta eaque architecto sit enim obcaecati suscipit eum ducimus autem numquam quas molestias atque delectus voluptatum eligendi repellat doloribus impedit perspiciatis dignissimos? Sunt aperiam consequatur eligendi iste odit expedita asperiores voluptas. Molestias, dolorem nemo. Velit, maiores architecto quisquam adipisci error dolorum libero fugiat quidem recusandae explicabo eum vel necessitatibus amet nisi, omnis esse ad, blanditiis consectetur? Facilis consectetur, distinctio, alias ipsam eum consequuntur quis impedit, doloribus ex velit perferendis repellat maxime. Provident iure soluta excepturi doloremque voluptatem? Dicta corrupti mollitia distinctio odit deleniti, ipsam vero. Voluptatem iusto provident amet temporibus nobis similique nihil odit cum veniam fugit aliquam officia possimus, eius vero ut architecto quibusdam ratione molestias ea officiis recusandae! Esse mollitia est similique tempora voluptates rerum nam quidem repellat. Dolor esse delectus eum impedit fuga asperiores quod ratione dolore vero modi pariatur omnis perspiciatis voluptatibus ipsam sit nostrum, at quis assumenda? Quas repellat nostrum ducimus quam, cumque doloribus! Quisquam autem molestias laboriosam doloribus quas eum quia, eos reiciendis sint repudiandae, voluptatem quo, iste vitae maiores odio eaque. Consequuntur fugit distinctio animi minus atque delectus commodi sunt dolorem vero aliquam. Nam eum aliquid at eaque error neque consequuntur debitis dolor temporibus tenetur quae dicta fugit eos, odit dolore culpa perferendis maxime dolores earum adipisci repellendus consectetur hic eveniet ut! Doloremque corrupti, sed amet impedit fuga in id. Accusantium qui, suscipit nemo doloribus architecto maiores, perspiciatis odit earum minus sint odio ad iusto vero commodi sunt id dolorem laborum reprehenderit totam, voluptatum beatae expedita voluptates. Quo, voluptas neque praesentium nulla dolorem deserunt numquam ab non harum quidem exercitationem, natus cumque ratione et repudiandae libero consectetur quae amet! Repellat labore sit repudiandae laudantium eos quo laboriosam excepturi totam reiciendis, harum eligendi ipsa culpa quis ad dolorum perspiciatis, corrupti adipisci! Eaque minus voluptate quidem tempora dolor deleniti fugit, impedit nemo illo quis inventore iusto, harum aut nostrum dolore soluta repellat, quibusdam accusantium mollitia error cupiditate illum dolorem rem. Dolores rem magnam ut ab labore dolore sint officia explicabo quos, in aperiam iusto, aliquam porro itaque ducimus. 
        <a href="https://www.google.com">Privacy polict example</a>.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos doloribus minus quis! Vitae a veniam unde exercitationem similique, itaque eos ullam illum perspiciatis! Praesentium saepe accusantium perspiciatis, recusandae corrupti dignissimos officiis, inventore possimus odit incidunt ad adipisci animi, cupiditate eos molestias optio voluptatem alias! Magnam corporis dolor eligendi consequuntur. Sunt dignissimos cupiditate perspiciatis sit ab. Aut ab nesciunt cumque earum magni commodi necessitatibus inventore consequatur, laborum aliquid perspiciatis optio cum molestias distinctio beatae asperiores possimus quod modi. Earum animi odit tenetur corporis quis perspiciatis perferendis non consectetur reprehenderit doloribus. Incidunt est mollitia molestiae dolor esse eius aut aliquam sint?</p>
        <h3>Types of Data Collected</h3>
        <h4>Personal Data</h4>
        <p>While using our Service,Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel suscipit magnam maiores error reprehenderit illum ut quibusdam blanditiis mollitia excepturi quaerat explicabo placeat quos ducimus culpa, eligendi id odit vero in unde sed quis. Itaque, deserunt asperiores molestias dolor distinctio quis consequatur ducimus facere explicabo blanditiis ut exercitationem cumque magnam.  Personally identifiable information:</p>
        <ul>
            <li>Email address</li>
            <li>Username</li>
            <li>Github avatar</li>
        </ul>
            <h4>Usage Data</h4>
            <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data. However, we anonymize your Internet Protocol address.</p>
            <h4>Cookies Data</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut ipsam voluptatum asperiores iusto expedita. Possimus ratione ex debitis sequi voluptates, vel repellendus temporibus deleniti non aliquid vero, incidunt blanditiis ab, magnam sed labore accusamus facilis dolore cumque? Aut, voluptatibus temporibus. Adipisci nobis dolore velit nemo dolorem blanditiis magni rerum praesentium.</p>
            <p>We do <strong>not</strong> use cookies for tracking.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas natus provident iste ex impedit neque ipsum, nihil inventore laudantium, ea libero autem facere quae hic?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquam qui laborum laudantium alias nam rem corporis quisquam voluptas excepturi id sint, cumque modi ex assumenda omnis, sit aliquid doloremque.</p>
            <p>Examples of Cookies we use:</p>
            <ul>
                <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
                <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
                <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
            </ul>
            <h2>Use of Data</h2>
            <p>Jad Joubran B.V. uses the collected data for various purposes:</p>
            <ul>
                <li>To provide and maintain the Service</li>
                <li>To notify you about changes to our Service</li>
                <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                <li>To provide customer care and support</li>
                <li>To provide analysis or valuable information so that we can improve the Service</li>
                <li>To monitor the usage of the Service</li>
                <li>To detect, prevent and address technical issues</li>
            </ul>
                <h2>Transfer Of Data</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa itaque voluptatem nam repudiandae id a blanditiis sequi? Reiciendis quas vero reprehenderit, dolore illo placeat debitis fuga alias accusantium neque atque.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ab molestiae non alias! Provident, laudantium. Sequi tenetur quasi quo dolorum vel recusandae cumque necessitatibus esse.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia similique repellendus veritatis, tenetur eaque suscipit?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptas animi perferendis neque alias minus et ipsum, provident, asperiores earum sit quasi veniam incidunt fugit? Velit voluptatum repudiandae ex quos. Cum natus dolores deserunt aliquam.</p>
                <h2>Disclosure Of Data</h2>
                <h3>Legal Requirements</h3>
                <p>Jad Joubran B.V. may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ullam!</li>
                </ul>
                <h2>Security Of Data</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab veniam voluptate ipsum id atque dolor odio! Pariatur, veritatis culpa dignissimos earum sequi similique sed, vero corporis ipsam ducimus quo omnis.</p>
                    <h2>Service Providers</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt totam fugit blanditiis in quia. Quis dolor magni soluta error iste tempore nihil excepturi vel rerum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quis earum ratione eos alias voluptatum nemo ipsum ullam aut, doloremque dolorum est.</p>
                    <h3>Analytics</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero atque quae non est hic? Vero excepturi tenetur exercitationem magni, quibusdam corrupti incidunt illum molestias.</p>
                    <h2>Links To Other Sites</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat sed natus modi, suscipit saepe ducimus autem voluptates harum quam minima!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores ratione minima unde doloribus omnis ab aut vitae cupiditate? Ipsum vitae pariatur placeat sapiente odio?</p>
                    <ul>
                        <li>By email: <a>privacy@realestate.com</a></li>
                    </ul>
                </div>
</html>