<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function f()
        {
            let x = NaN;
            let y = NaN;
            window.alert(x);

        }
    </script>
    <button onclick = f()>Button</button>
</body>
</html>