<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - Real Estate Site</title>
  <link rel="stylesheet" href="/css/stylecom.css">
</head>
<body>
  <div class="login-container">
    <h1 class="hdngform">Sign Up</h1>
    <form class="logsignform" id="signup-form">
      <label class="labelform" for="username">Username:</label>
      <input class="inputemform1" type="text" id="username" name="username" required>
      <div id="username-error" class="error-message"></div>

      <label class="labelform" for="email">Email:</label>
      <input class="inputemform1" type="email" id="email" name="email" required>
      <div id="email-error" class="error-message"></div>

      <label class="labelform" for="password">Password:</label>
      <input class="inputemform1" type="password" id="password" name="password" required>
      <div id="password-error" class="error-message"></div>

      <label class="labelform" for="confirm-password">Confirm Password:</label>
      <input class="inputemform1" type="password" id="confirm-password" name="confirm-password" required>
      <div id="confirm-password-error" class="error-message"></div>

      <button class="buttonform" type="submit">Sign Up</button>
    </form>
    <p class="pform">Already have an account? <a href="Login1.ejs">Login</a></p>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="./js/SignJS.js"></script>
</body>
</html>