.postforsale body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.postcontainer {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.postcontainer h1 {
    text-align: center;
    color: #333;
}

.postcontainer a{
    text-decoration: none;
}

.postcontainer form{
    border: none;
}

.postcontainer .form-group {
   width: 500px;
    margin-bottom: 10px;
}

.postcontainer label {
    display: block;
    font-weight: bold;
}

.postcontainer input[type="text"],
.postcontainer input[type="number"],
.postcontainer textarea,
.postcontainer button,
.postcontainer input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.postcontainer textarea {
    resize: vertical;
}

#postbtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 10px;
    width: 500px;
    transition: background-color 0.3s ease;
}

#postbtn:hover {
    background-color: #0056b3;
}